:root {
    --darker-color: #1C0C5B;
    --dark-color: #3D2C8D;
    --lighter-color: #916BBF;
    --light-color: #C996CC;

}

body {
    text-align: center;
    background-color:
    margin: auto;


}

.container  {
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    background-color: #00292D;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 15px;

}
.nav-link {
    

}

.navbar {

}